# Python
__pycache__/
*.py[cod]
*$py.class
db.sqlite3
media/
static/
!static/Css/
!static/Js/
!static/Images/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo
.expo/
dist/
web-build/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
